* {
    padding: 0px;
    margin: 0px;
}

body {
    background: transparent;
}


/* SCROLL BAR DESIGN STARTS HERE */


/* 
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
} */

#style-6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}


/* SCROLL BAR DESIGN ENDS HERE */


/* SIGN IN USER INTERFACE DESIGN */

.wrapper1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #051937;
}

.layer1 {
    position: absolute !important;
    background: antiquewhite !important;
    height: 50% !important;
    top: 25% !important;
}

#main-heading {
    padding: 42px 0px 42px 0px;
}

#main-heading p {
    line-height: 0px;
    font-size: 11px;
    font-style: italic;
}

form#sign-in-form {
    text-align: center;
}

button#submit-button {
    width: 35%;
    height: 10%;
    border-radius: 0px;
    border: 0px;
    margin: 30px 0px;
}

input#username {
    padding: 2px 0px 0px 10px;
    height: 38px;
    width: 88%;
    border: none;
    color: #36373e;
    border-bottom: 2px solid #00A88C;
}

#sign-in-form span {
    position: absolute;
    left: 11%;
    bottom: 54%;
    transition: all 0.25s ease-in;
    transform: translate(0px, 0px);
}

label.place-holder {
    display: block;
}

form#sign-in-form input#username:focus+label.place-holder span,
form#sign-in-form input#username:valid+label.place-holder span {
    transform: translate(-25%, -180%);
    font-size: 14px;
    font-weight: 300;
}


/* SIGN IN USER INTERFACE ENDS HERE */


/* CHAT INTERFACE USER INTERFACE BEGINS HERE */

.wrapper1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #051937;
}

.layer2 {
    position: absolute !important;
    background: antiquewhite !important;
    height: 100% !important;
    /* top: 25% !important; */
}

input#message-input {
    height: 6%;
    width: 94%;
    position: absolute;
    bottom: 2%;
    padding: 0px 0px 0px 10px;
    color: #3c3939;
}

button#send-button {
    position: absolute;
    bottom: 1.7%;
    right: 4.8%;
    width: 10.4%;
    height: 6.8%;
    border-radius: 0px;
    border: 0px;
}

div#username-bold {
    display: inline-block;
    font-weight: 700;
    /* float: none; */
}

#chat-messages div {
    background: darksalmon;
    margin: 8px 0px;
    padding: 2px;
}

@media screen and (max-width: 1200px) {
    button#send-button {
        position: absolute;
        bottom: 1.7%;
        right: 0.8%;
        width: 17.4%;
        height: 6.8%;
        border-radius: 0px;
        border: 0px;
    }
}


/* CHAT INTERFACE USER INTERFACE ENDS HERE */


/* 
,
form#sign-in-form input#username:valid+label.place-holder span */


/* input#username:focus+#sign-in-form span {
    transform: translate(6px, -9px);
} */


/* #sign-in-form input#username:valid+label.place-holder {
    transform: translate(-6px, -25px);
    font-weight: 200;
    font-size: 18px;
} */